@charset "utf-8";

#root{overflow:hidden;}
.collect-content{position: fixed;top:50%;left:0;right:0;transform:translateY(-50%)}
.collect-content .card{width:574px;height:347px;font-weight:900;color:#eee;position: relative;border-radius: 30px;box-sizing: border-box;background: #181617}
.collect-content .standard{background:#1e1d1b !important}

/* 메인 인트로 영역 */
.collect-intro{text-align: center;position: absolute;top:0;left:50%;margin-left:-287px;z-index: 10}
.swiper .collect-intro{position: relative;top:auto;left:auto;margin:0}
.collect-intro__text{display: inline-block;text-align: left;padding-top:90px;position: relative}
.collect-intro__text > span{display: block;}
.collect-intro__text--ko{font-size:13px;font-weight:bold;color:#777777;letter-spacing: -.5px}
.collect-intro__title{font-size:50px;line-height: 50px;letter-spacing: -3.5px;font-weight:900;color:#fff}
.collect-intro__title.color--yellow{color:#ffdd23;letter-spacing: -1.4px}
.collect-intro__icon{position: absolute;width:126px;height:126px;background: url(../images/ico_wcoin_reverse.png) no-repeat 0 0;right:-5px;top:35px}
.collect-intro__btn-enter,
.collect-intro__notice{font-size:20px;font-weight: bold;color:#1e1d1b;display: inline-block;padding:15px 0;width:134px;background:#ffdd23;line-height: 20px;margin-top:30px;transition:.3s all ease}
.collect-intro__btn-enter{cursor:pointer}
.collect-intro__btn-enter:hover{background: #9b8101;}
.collect-intro__notice{width:100%;background:#ffdd23;font-size:14px}
.collect-intro__notice:hover{background:#ffdd23}
.collect-main .swiper{width:90%;max-width:547px;height:347px;overflow: visible;margin:0 auto}
.collect-main .swiper-slide{overflow: hidden;position: relative;cursor:pointer;transition:.3s all ease;transform:scale(0.85)}
.collect-main .swiper-slide .bg_area{position:absolute;z-index: 0;top:0;width:100%;height:100%;left:30px;opacity: .6}
.collect-main .collect-intro.swiper-slide .bg_area{z-index: -1;opacity: 1;left:0;}
.collect-main .swiper-slide.swiper-slide-active{box-shadow: 2px 2px 0 rgba(0,0,0,1);transform:scale(1)}
.collect-main .swiper-slide.swiper-slide-active .bg_area{animation: showBg .7s 1 linear;animation-fill-mode:both}
@keyframes showBg {
	from{left:30px;opacity:.6}
  	to{left:0;opacity:1} 
}
.collect-wrap .swiper-pagination{width:100%;text-align:center;position:fixed;left:0;bottom:5%}
.collect-wrap .swiper-pagination-bullet{width:30px;height:3px;margin:0 3px;background:#fff;border:0;border-radius:0;opacity:.5}
.collect-wrap .swiper-pagination-bullet-active{opacity:1;}
.collect-wrap .swiper-button-prev,
.collect-wrap .swiper-button-next{color:#fff;transition:.3s all ease}
.collect-wrap .swiper-button-prev{transform:translateX(-50px)}
.collect-wrap .swiper-button-next{transform:translateX(50px)}
.collect-wrap .is-arr-active .swiper-button-prev,
.collect-wrap .is-arr-active .swiper-button-next{transform:translateX(0)}

/* 서브 카드 영역 */
.collect-content .card{text-align: center;}
.swiper .card-theme{display:flex;flex-direction: column;}
.collect-card__top{display: block;position: relative;padding-top:40px;padding-left:40px;text-align: left;z-index:10;text-shadow: 0px 4px 10px rgba(0,0,0,.5);transition:1s all ease}
.collect-card__img-theme{display: inline-block;color:#666666;font-size:14px;letter-spacing: -1px;font-weight: 400;height:18px;line-height: 18px;text-transform: uppercase;}
.collect-card__title{display:block;}
.collect-card__title.title--en{font-size:36px;color:#eeeeee;letter-spacing: -2px;padding-right:8px;font-weight:900;transition:1s all ease}
.swiper-slide-active .collect-card__top{padding-top:32px}
.swiper-slide-active .collect-card__title.title--en{font-size:42px;}
.collect-card__title.title--ko{font-size:24px;position: relative;line-height: 30px;letter-spacing: -1px;padding-left:2px;font-weight: bold}
.collect-card__list{padding:30px 0 0 40px;text-align:left;font-weight:400;z-index:10;color:rgba(255,255,255,.2);font-size:14px;line-height:1.4;letter-spacing:-.5px}
.collect-card__item:before{content:"";display: inline-block;width: 4px; height: 4px;border-radius: 50%;background-color: rgba(255,255,255,.1);margin-right: 5px;vertical-align: 3px;}
.collect-card__bottom{text-indent:-9999em;z-index: 5;opacity: .25;margin-top:auto;padding:0 0 30px 40px;height:24px;background:url(../images/txt_card_bottom.png) no-repeat 40px 6px}

@media screen and (max-width:640px){
	body{background-color:#181617}
	
	.collect-intro__text{padding-top:120px}
	.collect-intro__icon{top:55px}
	.collect-card__top{padding:40px 40px 0 40px}
	.collect-content{top:calc(50% + 30px)}
	.collect-content .standard{background:#181617 !important}

	.collect-main .swiper{width:100%;max-width:100vw}
	.collect-main .swiper,
	.collect-content .card{height:420px}	
	.collect-content .card{border-radius:10px}
	.collect-main .swiper-slide,
	.collect-main .swiper-slide.swiper-slide-active{box-shadow: none;border-radius:0}	
	.collect-wrap .swiper-pagination-bullet{width:20px}
	.collect-card__title.title--en,
	.swiper-slide-active .collect-card__title.title--en{font-size:20px;padding:0;letter-spacing:0;font-weight:700}
	.collect-card__title.title--ko,
	.swiper-slide-active .collect-card__title.title--ko{padding:0;font-size:34px;line-height:40px;font-weight:900}
	.collect-main .swiper-slide .bg_area{background-size: 100% auto;background-position: 0 100%;background-repeat: no-repeat;}
	.swiper-button-prev,
	.swiper-button-next{display:none!important}
}


@media screen and (max-width:400px){
	.collect-header__title{font-size: 18px;white-space:nowrap}
	.collect-intro__text{transform: scale(0.8);}
	.collect-main .swiper-slide.swiper-slide-active{z-index:100}
}